<!-- Colonne gauche -->
<div class="flex-none basis-auto md:basis-[280px] shrink-0 p-4 shadow-xs border-r border-gray-100 mt-4">
  <ul class="space-y-2">
    <li class="rounded p-2 hover:bg-gray-100 <%= 'font-semibold text-blue-600! bg-gray-100 ' if (current_page?(my_space_inbox_index_path) || (current_page?(my_space_inbox_path())  rescue false) ) %>">
      <%= link_to my_space_inbox_index_path, class: 'flex text-gray-900!' do %>
        <%= sprite_icon('inbox', plugin: 'redmine_asap_user_features', css_class: 'stroke-gray-900!') %>
        <span class="ml-2"><%= l(:label_menu_asap_inbox) %>
        (<%= @issues_count %>)</span>
      <% end %>
    </li>
    <li class="rounded p-2 hover:bg-gray-100 <%= 'font-semibold text-blue-600! bg-gray-100' if current_page?(watched_my_space_inbox_index_path) %>">
      <%= link_to watched_my_space_inbox_index_path, class: 'flex text-gray-900!' do %>
        <%= sprite_icon('fav', css_class: 'stroke-gray-900!') %>
        <span class="ml-2"><%= l(:label_menu_asap_watched_issues) %>
        (<%= @issues_watched_count %>)</span>
      <% end %>
    </li>
  </ul>
</div>