<div class="flex h-[calc(100vh-6rem)]  overflow-auto">
  <%= render "shared/sidebar" %>


  <div data-controller="todo" data-todo-newlist-value="<%= new_my_space_todo_list_path(project_id: @user_project.id) %>" class="flex flex-col flex-1 h-full pl-20 pr-8 w-full">
    <div class="flex flex-col md:flex-row items-center  mt-8 mb-2 px-4 md:px-0">
      <div class="ml-auto flex items-center justify-end w-36">
        <%= link_to synchronize_my_space_todo_index_path,
            method: :post,
            data: { turbo_confirm: 'Synchroniser les listes de tâches avec les versions du projet ?' },
            class: 'p-2 rounded-full hover:bg-gray-100 text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:hover:bg-gray-700 hover:text-gray-800' do %>
            <%= sprite_icon('reload', plugin: 'redmine_asap_user_features', size: 20, css_class: 'stroke-gray-800!') %>
            <% end %>
        <button
            data-action="click->todo#newList"
            class="cursor-pointer bg-blue-700 rounded-full hover:bg-blue-800 p-2 ml-2">
          <%= sprite_icon('plus', plugin: 'redmine_asap_user_features', size: 20, css_class: 'stroke-blue-100!') %>
        </button>

      </div>
    </div>
    <div class="flex flex-col  md:flex-row px-0 mt-0 mb-0 h-[calc(100vh-160px)] w-full overflow-x-auto">
      <% @todo_lists.each do |list| %>
        <div class="flex h-full md:overflow-hidden w-full md:w-64 mr-4 mb-4 md:mb-0 flex-col flex-shrink-0 bg-gray-100 dark:bg-gray-800 rounded-lg py-4 px-4 md:p-4">
          <div class="group flex items-center w-full">
            <h1 class="py-2.5! flex items-center justify-center mb-0! uppercase font-extralight text-xs">
              <%= list.name %>
            </h1>
            <div class="ml-auto relative">
              <div data-action="click->todo#showAdminList"
                   class="opacity-0 group-hover:opacity-100 cursor-pointer p-2 rounded-full hover:bg-gray-200 text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:hover:bg-gray-700 hover:text-gray-800">
                <%= sprite_icon('dots-vertical', plugin: 'redmine_asap_user_features', size: 20, css_class: 'stroke-gray-800!') %>
              </div>
              <div class="absolute right-0 shadow rounded border border-gray-50 mt-0 bg-white z-49 w-44 top-8 hidden" data-todo-target="listmenu">
                <div class="px-4 py-2.5 inline-flex hover:bg-gray-50 cursor-pointer w-full"
                  data-action="click->todo#updateList"
                  data-url="<%= edit_my_space_todo_list_path(id: list.id, project_id: @user_project.id) %>">
                  <%= sprite_icon('edit', size: 18, css_class: 'stroke-gray-800! mr-2') %>
                  <%= l(:label_list_edit) %>
                </div>
                <%= link_to my_space_todo_list_path(list), method: :delete, class: 'px-4 py-2.5 w-full inline-flex hover:bg-gray-50 cursor-pointer text-gray-900!', data: {confirm: t("label_list_delete_confirm", name: list.name)} do %>
                  <%= sprite_icon('del', size: 18, css_class: 'stroke-gray-800! mr-2') %>
                  <%= l(:label_list_delete) %>
                <% end %>
              </div>
            </div>

          </div>
          <div  id="column-issues"
                class="overflow-auto"
                data-controller="sortable"
                data-sortable-list-id-value="<%= list.id %>">
            <% list.issues.each do |issue| %>
            <div
                data-todo-target="issue"
                data-issue-id="<%= issue.id %>"
                class="bg-white mt-3 rounded flex shadow dark:bg-gray-700 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <div class="flex items-center justify-center px-4 py-4">
                  <input
                    type="checkbox"
                    class=""
                    data-action="change->todo#completeIssue"
                    data-issue-id="<%= issue.id %>"
                    <%= 'checked' if issue.closed? %>
                  >
                </div>
                <div class="font-normal text-xs w-full text-gray-900 dark:text-gray-100 nowrap dark:text-white">
                  <%= link_to issue.subject, issue_path(issue), class: 'pr-4 py-4 flex items-center text-gray-900!' %>
                </div>
              </div>
            <% end %>
          </div>

          <div data-controller="todo-add" data-todo-add-list-id-value="<%= list.id %>" class="mt-4">
            <button
              type="button"
              class="px-2 py-1 font-light cursor-pointer"
              data-action="click->todo-add#showForm"
              data-todo-add-target="plusButton"
              >
              <%= l(:label_todo_add) %>
            </button>
            <form
              data-action="submit->todo-add#addIssue"
              class="hidden! flex items-center mt-2"
              data-todo-add-target="form"
            >
              <input type="text"
                    class="border border-white bg-white! p-4 rounded"
                    placeholder="<%= l(:label_todo_new) %>"
                    data-todo-add-target="input" />
                  <div class="mt-4">
              <button type="submit" class="ml-2 bg-blue-500! hover:bg-blue-600 px-3 py-1 mb-2 rounded text-white"><%= l(:label_todo_create) %></button>
              <button
                type="button"
                class="ml-1 px-2 py-1 cursor-pointer"
                data-action="click->todo-add#cancelForm"
                ><%= l(:label_todo_cancel) %></button>
              </div>
            </form>
          </div>
        </div>
      <% end %>
    </div>
    <div data-todo-target="app"></div>

    </div>
  </div>



</div>
